* {
  margin: 0;
}

section {
  padding: 0 .4em; 
}

.first-nav > ul {
    display: flex;
    justify-content: space-between;
    color: grey;
    background-color: #000;
    padding: .9em 0;
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    letter-spacing: 1px;
}

.left-nav > li {
  list-style: none;
  display: inline;
  padding: .3em;
  padding-left: 1.8em;
}

.left-nav > li:hover {
  cursor: pointer;
  color: white;
}

.right-nav > li {
  list-style: none;
  display: inline;
  padding: .8em 1.6em .8em .8em;
}

.right-nav > li:hover {
  cursor: pointer;
  color: white ;
}

.second-nav {
  font-family: 'Goldman', cursive;
  font-size: .9em;
  color: #999;
  padding: 1.2em;
  /*position: fixed;
  background-color: white;*/
}

.second-nav > ul > li {
  display: inline;
  padding: .5em
}

.second-nav > ul > li:hover {
  cursor: pointer;
  color: #000;
}

.search {
    float: right;
}

.second-nav > ul > .hamburger {
  display: none;
  float: right;
}

.notification {
  padding: .3em;
  padding-left: 1.7em;
  background-color: #fd3;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
}

/* ------------------ Articles ---------------------------- */
.principal-grid {
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 280px 280px;
  grid-gap: 10px;
  grid-template-areas: 
    "center center up"
    "center center down"
}

.art {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1.5em .7em;
}

.first {
  grid-area: center;
  background-image: url(img/art1.png);
  background-position: center;
  background-size: cover;
  font-size: 2em;
}

.logo {
  height: 120px;
  align-self: flex-start;
  margin-bottom: 250px;
}

.principal-grid p,
.principal-grid h5,
.principal-grid h2 {
  color: white;
}

.first > .art-info {
  font-size: .4em;
  padding-top: 3em;
  color: rgb(201, 182, 182);
}

.second {
    grid-area: up;
    background-image: url(img/TNW-Roundup-iPhone-Android-491x270.jpg);
    background-position: center;
    background-size: cover;
}

.third {
    grid-area: down;
    background-image: url(img/tree-cloud.jpg);
    background-position: center;
    background-size: cover;
}

.insights { 
    font-family: 'Goldman', cursive;
    font-size: .6em;
    padding-bottom: 1.5em;
}

.art-info {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    color: #777;
    font-size: .6em;
    padding-top: 1em;
}

.art-info > p {
    padding-right: 1em;
}

.header-art {
  align-self: flex-start;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: right;
}

.body-margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 20%;
}

/* ------------- Latest news --------------------- */

.latest {
  font-size: 25px;
  color: #f42;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.latest-grid {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 25px;
}

.elmt {
  margin-bottom: 2em;
}

.elmt > img {
  width: 100%;
  height: 130px;
}

.elmt .deals {
  height: 150px;
}

.elmt-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0;
}

.elmt-details {
  font-size: 13px;
  font-weight: lighter;
  color: rgb(97, 87, 87);
  font-family: sans-serif;
}

.elmt-details span {
  text-decoration: line-through;
}

/*------ Funding articles -------*/

.funding-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.funding-opt {
  margin-right: 10px;
}

.funding-opt > a {
  padding: 0 2em;
  color: #f42;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.funding-opt > a:first-child {
  border-right: 2px solid #f42;
  padding-right: 2em;
}

.funding-opt > a:last-child {
  border-left: 2px solid #f42;
  padding-left: 2em;
  padding-right: 0;
}

.funding-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 25px;
  margin-bottom: 4em;
}

.funding-cards {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  height: 300px;
}

.funding-cards > img {
  position: absolute;
  width: 60px;
  height: auto;
  margin: .5em;
}

.latest-title {
  background-color: #f42;
  font-weight: 600;
  font-size: .9em;
  padding: 1em 6em;
  color: white;
}

.funding-subtitle {
  background-color: rgba(245, 126, 105, 0.76);
  padding: 1em .5em 1em 6em;
  color: white;
}

.funding-subtitle > h4 {
  color: black;
  font-weight: 600;
  font-size: .9em;
}

.funding-subtitle > p {
  color: rgb(90, 90, 90);
  font-size: .8em;
}

.top-body {
  background-color: rgb(248, 224, 220);
  padding: 1em 2em;
  border-bottom: 1px solid rgba(245, 126, 105, 0.76);
  height: 50%;
  font-size: .8em;
}

.top-body > p {
  padding: .5em 0;
}

.bottom-body {
  background-color: rgb(248, 224, 220);
  padding: 1em;
  height: 50%;
  line-height: 1.5em;
  font-size: .8em;
  color: #999;
}

.other-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(700px, 750px));
  grid-gap: 20px;
}

.other-banner {
  background-image: url(img/latest2.jpg);
  background-repeat: no-repeat;
  margin-top: 1.5em;
  height: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  font-weight: 700;
}

.other-banner > h5 {
  padding-left: .8em;
  font-size: .9em;
}

.other-banner > h3 {
  padding-left: .7em;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: .5em;
}

.other-banner > p {
  padding-left: 1em;
  padding-bottom: 1.5em;
  color: #999;
  font-weight: 700;
  font-size: .8em;
}

.other-suggested {
  background-color: rgb(248, 224, 220);
  display: flex;
  justify-content: space-between;
  color: #f42;
  font-weight: 700;
}

.other-left {
  padding: 0 .8em;
}

.other-left > h5 {
  padding: 1em 0;
}

.other-left > p {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
}

.other-right > img{
  height: 70px;
  margin-bottom: -.2em;
}

.other-list > ul {
  list-style: circle;
  padding: 1.5em 1em 1.5em 1.5em;
}

.other-list > ul > li {
  padding: 1em 0;
  border-bottom: 1px solid rgba(206, 206, 206, 0.87);
}

/* ------------------ Footer ---------------- */

.footer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 53, 53);
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer > ul > li {
  margin: 20px;
}

.footer > ul > li > a:hover {
  color: white;
}

.footer ul a {
  text-decoration: none;
  color: rgb(192, 167, 167);
  font-family: 'Open Sans', sans-serif;
}

.social-network li {
  font-size: 22px;
  color: white;
  padding: 10px;
  background-color: rgb(97, 97, 97);
  border-radius: 30px;
  border: 1px solid rgb(97, 97, 97);
}

.social-network li:hover {
  background-color: transparent;
  cursor: pointer;
}

.last-block {
  background-color: black;
  padding: 25px;
}

.last-block p {
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .second,
  .third {
    padding-right: 5em;
    color: red;
  }

  .latest-grid {
    margin: 0 10%;
  }
}

@media screen and (min-width: 697px) and (max-width: 768px) {
  /* body {
    
  } */
  .latest-grid {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 20px;
  }
  .funding-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 18px;
    margin-bottom: 4em;
  }
  .other-grid {
    grid-template-columns: repeat(2, minmax(320px, 1fr));
  }
}

/* ---------------- Mobile version ------------------ */

@media screen and (min-width: 425px) and (max-width: 523px) {
  .first-nav > ul,
  .second-nav > ul > li {
    display: none;
  }
  .second-nav > ul > .hamburger {
    display: block;
    margin-bottom: 10px;
    float: right;
  }
  .second-nav > ul > .search {
    display: block;
    float: right;
    margin-bottom: 10px;
  }
  .notification {
    display: none;
  }
  .principal-grid {
    width: 100%;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 280px 280px 280px;
    grid-gap: 10px;
    grid-template-areas: 
      "center"
      "up"
      "down"
  }
}
